.container {
  composes: centeredContainer from 'sharedStyles/styles.css';
  margin-top: 15%;
}

.title {
  composes: largeHeader from 'sharedStyles/styles.css';
}

.slogan {
  composes: subHeader from 'sharedStyles/styles.css';
}
